@media screen and (max-width: 1600px){
    .headImage{
        width: 1600px;
    }
}

.createCircle{
height: 500px;
}
.orderJoinCircle{
height: 300px;
}
.circles {
    height: 500px;
}
.hline {
    background: linear-gradient(.25turn, #ffd1ce, #a52a2a, #ffd1ce);
    border:0;
    height:3px;
}
